<div class="book-image">
    <li>
        <a href="/auth/printBookDetailled/{{this._id}}">
            <img src="{{this.image}}" alt="cover of book">
        </a>
    </li>
</div>
<div class="book-content">
    <li class="book-title-class">{{this.title}}</li>
    <li class="book-author-class">Written By {{this.author}}</li>
    <li class="book-category-class">{{this.category}}</li>
    <li class="book-state-class">In {{this.state}} state </li>
    <li class="book-points-class">{{this.points}} Points</li>
</div>
<div class="book-link">
    <li><a href="" class="like-link" custom-book-id={{this._id}}><i class="fas fa-heart"></i></a></li>
    <li><a href="/auth/buyBook/{{this._id}}"><i class="fas fa-plus-square"></i></a></li>
</div>
{{!-- 
<ul class="allbooks-book-items">
    <li>
        <a href="/auth/printBookDetailled/{{this._id}}">
            <img src="{{this.image}}" alt="cover of book">
        </a>
    </li>
    <li>Title: {{this.title}}</li>
    <li>Authors: {{this.author}}</li>
    <li>Genre: {{this.category}}</li>
    <li>State: {{this.state}}</li>
    <li>Points: {{this.points}}</li>
    <a href="" class="like-link" custom-book-id={{this._id}}><i class="fas fa-heart"></i></a>
    <a href="/auth/buyBook/{{this._id}}"><i class="fas fa-plus-square"></i></a>
</ul> --}}