{{>navBar}}
<div id="container-all-books">
    <h1>All books</h1>
    {{#unless books}}
    <p>No books yet.</p>
    {{/unless}}

    <ul class="list-books">
        {{#unless isLoggedIn}}
        {{#each books}}
        <li class="allbooks-list-book">
            <ul class="allbooks-book-items">
                <li>
                    <a href="/auth/printBookDetailled/{{this._id}}">
                        <img src="{{this.image}}" alt="cover of book">
                    </a>
                </li>
                <li>Title: {{this.title}}</li>
                <li>Authors: {{this.author}}</li>
                <li>Genre: {{this.category}}</li>
                <li>State: {{this.state}}</li>
                <li>Points: {{this.points}}</li>
                <a href="" class="like-link" custom-book-id={{this._id}}><i class="fas fa-heart"></i></a>


            </ul>
        </li>
        {{/each}}
        {{/unless}}

        {{#if isLoggedIn}}
        {{#each books}}
        <li class="allbooks-list-book">
            <ul class="allbooks-book-items">
                <a href="/auth/printBookDetailled/{{this._id}}">
                    <img src="{{this.image}}" alt="cover of book">
                </a>
                <li>Title: {{this.title}}</li>
                <li>Authors: {{this.author}}</li>
                <li>Genre: {{this.category}}</li>
                <li>State: {{this.state}}</li>
                <li>Points: {{this.points}}</li>

                <a href="" class="like-link"><i class="fas fa-heart"></i></a>



                <a href="/auth/buyBook/{{this._id}}"><i class="fas fa-plus-square"></i></a>
            </ul>
        </li>
        {{/each}}
        {{/if}}
    </ul>

</div>

{{!-- {{#if isLoggedIn}} 
                <p>YO</p>
                <a href="/auth/addBooks"><i class="fas fa-plus-square"></i></a>
            {{/if}} --}}