{{>navBar}}
<div id="container-all-books">
<h1>All books</h1>
{{#unless books}}
<p>No books yet.</p>
{{/unless}}

<ul class="list-books">
    {{#each books}}
    <li class="books">
        <ul class="book-items">
            <li><img src="{{this.image}}" alt="cover of book"></li>
            <li>Title: {{this.title}}</li>
            <li>Authors: {{this.author}}</li>
            <li>Genre: {{this.category}}</li>
            <li>State: {{this.state}}</li>
            <li>Points: {{this.points}}</li>
            {{#if isLoggedIn}} 
                <p>YO</p>
                <a href="/auth/addBooks"><i class="fas fa-plus-square"></i></a>
            {{/if}}
        </ul>
    </li>
    {{/each}}
</ul>
{{#if isLoggedIn}}
        <h2>Hello there</h2>
{{/if}}
</div>