{{>navBar}}
<div id="container-all-books">
<h1>All books</h1>
{{#unless books}}
<p>No books yet.</p>
{{/unless}}

<ul class="list-books">
    {{#each books}}
    <li class="books">
        <img src="{{this.image}}" alt="cover of book">
        {{this.title}}
        {{this.author}}
        {{this.category}}
        {{this.state}}
        {{this.points}}
    </li>
    {{/each}}
</ul>
</div>