{{>navBar}}
<form action="auth/user/edit">
    <form action="">
        <div class="dashboard-user-section">
            <img src="{{user.avatar}}" alt="avatar" class="avatar">
            <h2>Hello, My name is {{user.firstname}} {{user.name}}</h2>
            <h5>leaving in {{user.city}}</h6>
                <h6>{{user.email}}</h6>
                <h6>{{user.points}} Points available</h6>
        </div>
        <hr>
    </form>
</form>

    <div class="dashboard-books-section">
        <div class="dashboard-book-to-sell-section">
            <h3>My personal Books I want to Exchange</h3>
            <div id="dashboard-container-all-books">

                {{#each books}}
                <ul class="dashboard-list-books">

                    <li><img src="{{this.image}}" alt="cover of book"></li>

                    <li>
                        <p>Title:</p>{{this.title}}
                    </li>

                    <li>
                        <p>Authors:</p>{{this.author}}
                    </li>

                    <li>
                        <p>Category:</p>{{this.category}}
                    </li>

                    <li>
                        <p>State:</p>{{this.state}}
                    </li>

                    <li>
                        <p>Point to Earn:</p> {{this.points}} pts
                    </li>

                    <a href="/auth/deleteBook/{{this._id}}" class="fa fa-trash table-icon" data-id-book="{{this._id}}"
                        aria-hidden="true"></a>
                    <a href="/auth/editBook/{{this._id}}" class="fa fa-edit table-icon" data-id-book="{{this._id}}"
                        aria-hidden="true"></a>

                </ul>
                {{/each}}

            </div>
        </div>
        <hr>
        <div class="dasboard-favorite-books-section">
            <h3>Books I want to Purchase</h3>
            <div id="dashboard-container-all-books">

                {{#each books_bought}}
                <ul class="dashboard-list-books">

                    <li><img src="{{this.image}}" alt="cover of book"></li>

                    <li>
                        <p>Title:</p>{{this.title}}
                    </li>

                    <li>
                        <p>Authors:</p>{{this.author}}
                    </li>

                    <li>
                        <p>Category:</p>{{this.category}}
                    </li>

                    <li>
                        <p>State:</p>{{this.state}}
                    </li>

                    <li>
                        <p>Points value:</p> {{this.points}} pts
                    </li>

                    <a href="/auth/deleteBook/{{this._id}}" class="fa fa-trash table-icon" data-id-book="{{this._id}}"
                        aria-hidden="true"></a>
                    <a href="/auth/editBook/{{this._id}}" class="fa fa-edit table-icon" data-id-book="{{this._id}}"
                        aria-hidden="true"></a>

                </ul>
                {{/each}}

            </div>

        </div>
    </div>