<form action="auth/user/edit">
    <form action="">
        <div class="dashboard-user-section">
            <label for="">email</label>
            <input id="email-id" type="text" name="email" value={{user.email}}>
            <label for="">name</label>
            <input id="name-id" type="text" name="name" value={{user.name}}>
            <label for="">firstname</label>
            <input id="firstname-id" type="text" name="firstname" value={{user.firstname}}>
            <label for="">password</label>
            <input id="password-id" type="text" name="password" value={{user.password}}>
            <label for="">adress</label>
            <input id="adress-id" type="text" name="adress" value={{user.adress}}>
            <label for="">post code</label>
            <input id="postcode-id" type="text" name="postcode" value={{user.postcode}}>
            <label for="">telephone</label>
            <input id="telephone-id" type="text" name="telephone" value={{user.telephone}}>
        </div>
        <button>update user</button>
    </form>

    <div class="dashboard-books-section">
        <div class="dashboard-book-to-sell-section">

            <div>

            </div>
        </div>
        <div class="dasboard-favorite-books-section">

        </div>
    </div>

</form>